@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .swiper-btn {
        @apply btn btn-primary btn-sm p-0 absolute top-1/2 z-10 -translate-y-1/2 animate-none;
    }

    .swiper-btn-next {
        @apply -left-2  sm:-left-4 md:-left-5 lg:-left-6;
    }

    .swiper-btn-prev {
        @apply -right-2 sm:-right-4 md:-right-5 lg:-right-6;
    }

    .text-time {
        @apply text-[1.2rem] text-slate-600;
    }
    .bgblur {
        position: relative;
    }

    .bgblur::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        /*استفادهازپس‌زمینههدر*/
        filter: blur(60%);
        /*بلورکردنپس‌زمینه*/
        z-index: 0;
        -webkit-filter: blur(60%);
    }

    .bgblur > * {
        position: relative;
        z-index: 1; /* قرار دادن محتوای هدر بالای بلور */
    }
}

/* :root {
    &,
    &.light-mode {
        --primary-50: #e8fcf8;
        --primary-100: #d6faf2;
        --primary-200: #a0f3e1;
        --primary-300: #5cebcc;
        --primary-400: #1cdeb4;
        --primary-500: #19c7a1;
        --primary-600: #17b593;
        --primary-700: #149f81;
        --primary-800: #10836b;
        --primary-900: #0c5f4d;
        --primary-950: #083f33;
    }
    &.dark-mode {
      --primary-50: #083f33;
      --primary-100: #0c5f4d;
      --primary-200: #10836b;
      --primary-300: #149f81;
      --primary-400: #17b593;
      --primary-500: #19c7a1;
      --primary-600: #1cdeb4;
      --primary-700: #5cebcc;
      --primary-800: #a0f3e1;
      --primary-900: #d6faf2;
      --primary-950: #e8fcf8;
    }
} */
